body {
    background-image: url('./foto/elden.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    color: rgb(133, 121, 75);
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(13, 15, 11);
    color: white;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer {
    background-color: rgb(13, 15, 11);
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

main {
    padding: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 10px 0;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #fa0606;
    background-color: #000000;
    color: #fffbfb;
}

form button {
    padding: 10px 20px;
    background-color: rgb(133, 121, 75);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: red;
}

.pinakas,
.pinakas th,
.pinakas td {
    border: 3px solid rgb(133, 121, 75);
    border-collapse: collapse;
    text-align: center;
    height: 50px;
}

.perigrama {
    border-collapse: collapse;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 2px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.7);
}

.ipogramisi {
    text-decoration: underline;
    color: rgb(165, 154, 60);
}

.ikones {
    width: 720px;
    height: 480px;
}

.koumpaki {
    content: '';
    width: 20px;
    height: 20px;
    border: 2px solid rgb(133, 121, 75);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    background-color: white;
}


